<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="65"
  [radius]="100"
  [imageSrc]="'../assets/Logos/Logos2/html.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="600"
  
></circle-progress>
    </div>
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="70"
  [radius]="100"
  [imageSrc]="'../assets/Logos/Logos2/CSS.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="600"
  
></circle-progress>
    </div>
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="40"
  [radius]="100"
  [imageSrc]="'../assets/Logos/Logos2/js.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="600"
 
></circle-progress>
    </div>
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="50"
  [radius]="100"
  [imageSrc]="'../assets/Logos/Logos2/git.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="600"
 
></circle-progress>
    </div>
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="100"
  [radius]="100"
  [imageSrc]="'../assets/Logos/Logos2/grupal.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="600"

></circle-progress>
    </div>
    <circle-progress
  [percent]="70"
  [radius]="100"
  [imageSrc]="'../assets/Logos/Logos2/eng.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="600"

></circle-progress>
</div>

