<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
 <ul>
     <li>
         <h1>Tecnico de reparación
            de PC y redes</h1> - <h3>2019 (Instituto Argentino de Computación)</h3>
     </li>
     <p>Curso completo de reparación de PC, uso de herramientas, desarmado y armado.
         Adicionalmente realicé un curso de Redes informaticas donde aprendí
         el manejo e instalación de servidores.
         <img src="../../../assets/Logos/redes.jpg"  id="Redes"
         class="img-fluid">
     </p>
 </ul>
 <ul>
    <li>
        <h1>Introducción a Bases de Datos y SQL</h1> - <h3>En curso (Educación IT)</h3>
    </li>
    <p>Fundamentos de las Bases de Datos,
        Instalar y trabajar con MySQL,
        Lenguaje SQL,
        Estructuras de consulta,
        Operadores, cláusulas y sentencias,
        Manipulación de datos,
        Registros y agrupamientos,
        Construir un modelo de Base de Datos</p>
</ul>
<ul>
    <li>
        <h1>Microsoft Azure Fundamentals</h1> - <h3>En curso (Educación IT)</h3>
    </li>
    <p>Fundamentos de la Nube,
        IaaS, PaaS y SaaS,
        Modelos de nube pública, privada e híbrida,
        Servicios principales de Azure,
        Componentes y Arquitectura,
        Herramientas de Administración,
        Seguridad, Privacidad y Confianza,
        Azure Identity,
        Trabajar con monitoreos e informes,
        Planificación y gestión de costos</p>
</ul>
    </div>
</div>
 