 <div class="row">
     <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
         <img src="../../../assets/Logos/ProfilePhoto.png" id="fotodeperfil"
         class="img-fluid" >
     </div>
     <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
         <p id="nombre">Cragaris Lucas</p>
         <p>Full Stack Developer Jr</p>
     </div>
     <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
         <span>
             <h1>Acerca de mí</h1>
             <p>Me gusta trabajar y aprender nuevas tecnicas para el
                 desarrollo web. Actualmente manejo Javascript, bootstrap,
                 angular entre otros.
                 Mi objetivo es continuar con mis estudios y convertirme
                 en Full Stack Sr.
             </p>
         </span>
     </div>
 </div>
