<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/Logos/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/in/lucas-cragaris-700215178/"><img src="../../../assets/Logos/linkedin.png" id="linkedin"></a>
            <a href="https://github.com/Lucasalexisc"><img src="../../../assets/Logos/github.png" id="github"></a>
            <a href="mailto:lucasalexisc@gmail.com"><img src="../../../assets/Logos/gmail.png" id="gmail"></a>
            <a href="mailto:lucasalexisc@outlook.com"><img src="../../../assets/Logos/outlook.png" id="outlook"></a>
            <a href="https://api.whatsapp.com/send?phone=1138795123&text=Quisiera%20contactarte%20para:"><img src="../../../assets/Logos/whatsapp.png" id="whatsapp"></a>  
        <button type="button" class="btn btn-outline-light">Ingresar</button>
        </div>
    </div>
</div>
