<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
 <ul>
     <li>
         <h1>Mera Solutions</h1> - <h3>(2019-2020)</h3>
     </li>
     <p>Gestión de quejas de clientes telefónicamente, carga
        de datos en sistema. Manejo de excel y Word.</p>
 </ul>
 <ul>
    <li>
        <h1>Unión Ferroviaria</h1> - <h3>(2020-2021)</h3>
    </li>
    <p>Manejo de Windows Server, creación de usuarios y supervisión de sistemas.
        Mantenimiento y reparación de PC
    </p>
</ul>
<ul>
    <li>
        <h1>Trabajo 3</h1> - <h3>(years)</h3>
    </li>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
       Quam temporibus atque, rerum soluta suscipit laborum optio
       iure asperiores explicabo commodi sint fugiat ducimus accusantium
       qui id omnis provident aut laboriosam.</p>
</ul>
    </div>
</div>
 